<!DOCTYPE html> {{ "<!-- layouts/baseof -->" | safeHTML }}
<html>

  <head>
    {{ partial "head.html" . }}
    <meta name="git:sha-short" content="{{ block "git_sha_short" . }}{{ end }}">
    <link rel="github-url"
      href="https://github.com/jm3/todayilearned/commit/{{ block "git_sha_short" . }}{{ end }}">
  </head>

  <body>
    <main>
      {{ partial "header.html"  . }}
      {{ block "main" . }} This layout template forgot to define a "main" block {{ end }}
      {{ partial "footer.html" . }}
    </main>
    {{ partial "js.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>

</html>
