{{ define "main" }}

{{ "<!-- layouts/_default/list.html -->" | safeHTML }}

{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{.Data.Term}}"</h1>
{{ else }}
<h1 class="page-title">All {{.Type}} </h1>
{{ end }}
<ul class="posts">
  {{- range .Data.Pages -}}
  {{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
  {{- else -}}
  <li class="post">
    <a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}</span>
  </li>
  {{ end }}
  {{ end }}
</ul>

{{ end }}
