[submodule "themes/minimal"]
  path = themes/minimal
  url = /Users/jm3/Dropbox/Git/minimal-hugo-theme.git/
  branch = dev
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = /Users/jm3/Dropbox/Git/ezhil-hugo-theme.git
	branch = dev
