:root {
  --bg:           hsla(239, 49%, 45%, 1);
  --accent:       hsl(168, 100%, 50%);
  --text-color:   hsl(0, 100%, 100%);
  --code-bg-dark: hsla(0, 0%, 0%, 0.9);
}

.highlight pre code {
  background-color: var(--code-bg-dark);
  border-radius:    12px;
  display:          block;
  padding:          1em;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
}

a, a:hover {
  color: var(--accent);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}
