:root {
  --bg-color: hsla(239, 49%, 45%, 1);
  --accent-color: hsl(168, 100%, 50%);
  --text-color: hsl(0, 100%, 100%);
  --code-bg-color: hsla(0, 0%, 0%, 0.9);
}

.highlight pre code {
  display: block;
  padding: 1em;
  background-color: var(--code-bg-color);
  border-radius: 12px;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a, a:hover {
  color: var(--accent-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.feather {
  width: 15px;
  margin-right: 1px;
  vertical-align: top;
}
