{{ define "git_sha_short" }}{{ if .GitInfo }}{{ .GitInfo.AbbreviatedHash }}{{ end }}{{ end }}

{{ define "main" }}

{{ "<!-- layouts/index.html -->" | safeHTML }}

<div class="recent-posts section">
  <h2 class="section-header"> Recent {{ .Site.Params.primaryType }}</h2>
  <div class="posts">

    {{- $.Scratch.Set "counter" 0 -}}
    {{ range where .Pages "Type" "==" .Site.Params.primaryType }}
    {{- if lt ($.Scratch.Get "counter") (.Site.Params.RecentPostsCount | default 10) -}}

   {{ partial "post-preview.html" . }}

    {{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) -}}
    {{ end }}
    {{ end }}
    <a
      class="paginator"
      href="/{{ .Site.Params.primaryType }}"
    >All {{ .Site.Params.primaryType }} →</a>
  </div>
</div>

<!-- end main -->
{{ end }}
