hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  border-top: 1px solid;
}

audio, canvas, img, video {
  width: 100%;
  vertical-align: middle
}

blockquote {
  margin-left: 1rem;
  padding-left: 20px;
  border-left: 3px dotted;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.container {
  max-width: 800px
}

ul {
  padding-left: 15px;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  margin-left: 0;
  list-style: none
}

header nav.primary {
  margin-top: 20px;
  border-top: 1px solid hsl(0, 0%, 96%);
}

header nav ul.flat li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0;
  text-transform: capitalize;
  list-style: none;
}

header .site-description {
  display: flex;
  justify-content: space-between;
}

header .site-description nav ul svg {
  max-height: 15px;
}

.section .section-header {
  margin-bottom: 20px;
}

.recent-posts .posts .post {
  margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
  margin-bottom: 4px;
}

.post .post-header {
  margin-bottom: 30px;
}

.post .post-header .title {
  margin: 0;
}

.post .post-header .meta {
  margin-top: 10px;
  padding-left: 5px;
}

.list .posts .post .meta {
  margin-bottom: 0;
  margin-left: 5px;
}

footer {
  border-top: 1px solid hsl(0, 0%, 96%);
  margin-top: 40px;
  padding: 20px 0;
}

@media (max-width: 767px) {
  body {
    padding: 20px;
  }
}

/* jm3: ************************ to be merged */

.highlight pre code {
  display: block;
  padding: 1em;
  border-radius: 12px;
}

.feather {
  width: 15px;
  margin-right: 1px;
  vertical-align: top;
}

/* icons */
i {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}

i.copyleft {
  background-image: url(/img/copyleft.svg);
}

