$tmp: red;

:root {
  --bg-color: hsl(239, 49%, 45%);
  --accent-color: hsl(168, 100%, 50%);
  --alter-accent-color: hsl(310, 100%, 80%);
  --bg-subtle-color: hsl(239, 65%, 79%);
  --text-color: black;
  --major-text: hsl(180, 100%, 27.3%);
  --code-bg-color: hsl(0, 0%, 10%);
  --link: red;
  --link-hover: red;
  --link-active: red;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

button,
html,
input,
select,
textarea {
  color: hsl(0, 0%, 13%);
}

::selection {
  background: hsla(0, 0%, 0%, 0.5);
}

hr {
  border-color: hsl(0, 0%, 80%);
}

blockquote {
  border-color: hsl(0, 100%, 33%);
}

blockquote cite {
  opacity: 0.8;
}

/* basic links */
a,
a:visited {
  color: var(--major-text);
}

a:hover {
  color: var(--alter-accent-color);
}

a:active {
  background-color: black;
  color: white;
}

/* constrasty party colors */
header a,
header a:visited,
footer a,
footer a:visited {
  color: var(--accent-color);
}

header a:hover,
footer a:hover {
  color: var(--alter-accent-color);
}

header a:active,
footer a:active {
  color: white;
}

.tags a:hover,
.tags a:active {
  color: darkslategray;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.section-header {
  color: var(--bg-subtle-color);
}

.list .posts .post .meta,
.post .post-header .meta,
.recent-posts .posts .post .meta {
  color: var(--bg-subtle-color);
}

footer {
  background-color: hsl(10, 06%, 21%);
  color: white;
}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
/* jm3: ************************ to be merged */
.highlight pre code {
  /*background-color: var(--code-bg-color); */
}

.section-masthead {
  background-color: hsl(270, 36%, 25%);

  h2 {
    color: hsla(0, 100%, 100%, 0.7);
  }

  a {
    color: white;
    color: var(--alter-accent-color);
    color: var(--accent-color);
  }

  h3 {
    color: white;
  }
}

.section-nav {
  background-color: hsl(180, 20%, 20%);
}

nav a:active {
  color: white;
  background-color: hsla(0, 0%, 0%, 0.2);
}

svg.feather {
  color: var(--accent-color);
}

a.post-preview-title {
  color: darkcyan;
}

.post-title {
  color: var(--major-text);
}

.terms-tag {
  background-color: hsl(120, 45%, 85%);
}

.terms-tag:hover {
  color: hsl(120, 32%, 33%);
  background-color: hsl(120, 28%, 67%); /* similar to darkslategray but not so dark */
}

.terms-tag:active {
  color: white;
  background-color: hsl(120, 28%, 67%); /* similar to darkslategray but not so dark */
}

.tag-counter {
  background-color: hsla(0, 100%, 100%, 0.8);
  box-shadow: inset 3px 3px 3px -4px #aaa;
}

a.paginator {
  color: hsla(0, 0%, 0%, 0.7);
}

/* IMAGES */
figcaption {
  background-color: hsl(240, 38%, 94%);
  color: hsl(252, 35%, 60%);
}
