$tmp: red;

:root {
  --bg-color: hsl(239, 49%, 45%);
  --accent-color: hsl(168, 100%, 50%);
  --alter-accent-color: hsl(310, 100%, 80%);
  --bg-subtle-color: hsl(239, 65%, 79%);
  --text-color: hsl(0, 100%, 100%);
  --code-bg-color: hsl(0, 0%, 10%);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

button,
html,
input,
select,
textarea {
  color: hsl(0, 0%, 13%);
}

::selection {
  background: hsla(0, 0%, 0%, 0.5);
}

hr {
  border-color: hsl(0, 0%, 80%);
}

blockquote {
  border-color: hsl(0, 100%, 33%);
}

blockquote cite {
  opacity: 0.8;
}

a,
a:hover,
a:visited {
  color: var(--accent-color);
}

a:hover {
  color: var(--alter-accent-color);
}

a:active {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

.section .section-header {
  color: var(--bg-subtle-color);
}

.list .posts .post .meta,
.post .post-header .meta,
.recent-posts .posts .post .meta {
  color: var(--bg-subtle-color);
}

footer {
  background-color: hsl(250, 35%, 30%);
  color: white;
}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
/* jm3: ************************ to be merged */
.highlight pre code {
  background-color: var(--code-bg-color);
}

.section-masthead {
  /* background-color: darken( red, 20%); */
  /* background-color: darken($tmp, 10%); */

  background-color: rebeccapurple;

  h2 {
    color: hsl(265, 42%, 78%);
    color: white;
    opacity: 0.7;
  }

  a {
    color: white;
    color: var(--alter-accent-color);
    color: var(--accent-color);
  }
}

.section-nav {
  background-color: hsl(180, 20%, 20%);

  svg.feather {
    color: var(--accent-color);
  }

}

a.post-preview-title {
  color: darkcyan;
}

a.paginator {
  color: hsla(0, 0%, 0%, 0.7);
}
