main {

}

.section-masthead {
  padding: 2rem 2rem 1rem 2rem;

  h2 {
    line-height: 1.1rem;
    margin-bottom: 0.8rem;
  }

  h3 {
    line-height: 1.1rem;
    margin: 1rem 0 0 0;
  }
}

.section-header {
  margin-bottom: 1rem;
}

.section-nav {
  padding: 1rem 1rem 0.5rem 1rem;
}

svg.feather {
  vertical-align: top;
}

.flat {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	justify-content: space-between;
}

/* index */
.recent-posts,
ul.posts,
.tags {
  margin: 0 0 1rem 0;
  padding: 1rem 1.5rem 0;
}

a.paginator {
  display: block;
  margin: 0 auto;
  width: 8rem; /* FIXME - how can we make this not hard-coded */
  background-color: var(--alter-accent-color);
  border-radius: 1rem;
  padding: 0.4rem 0 0.4rem 1rem;
  margin-bottom: 1rem;
}

.post-preview {
  margin-bottom: 2rem;

  a svg {
    width: 16px;
    vertical-align: sub;
  }
}

.post {
  margin: 0 1.5rem;
  max-width: 800px;

  img {
    width: 100%;
  }
}

.post-title {
  margin-top: 1rem;
}

footer  {
  padding: 0.5rem;
  .flat {
    justify-content: space-evenly;
  }
  .legalese {
    padding: 0 2rem 2rem;
  }
}

.nav.social {
  margin: 50px 0 30px 0;
}
