:root {
}

body {
  font-size: 16px;
  line-height: 1.6;
}

blockquote {
  font-size: 1.4rem;
  font-family: Georgia, Bitstream Charter, serif;
  font-style: italic;
}

blockquote cite {
  font-size: 70%;
}

a, a:hover, a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

h1 { font-size: 1.3rem }
h2 { font-size: 1.1rem }
h3 { font-size: 1.0rem }
h4 { font-size: 0.8rem }

h5 {
  font-weight: 300;
  font-size: 1rem;
}

h6 {
  font-weight: 300;
  font-size: .9rem;
}

header h1 {
  font-size: 2.6rem;
}

header h2 {
  font-size: 0.9rem;

  span {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

header h3 {
  font-weight: 300;
  font-size: 0.9rem;

  a {
    white-space: nowrap;
  }
  a.about:after {
    content: " \00BB";
  }
}

.section-header {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
}

a.post-preview-title {
  font-size: 18px;
}

.post-title {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

a.paginator {
  font-weight: 600;
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

/* icons */
i {
  vertical-align: middle;
}

.section-nav {
  a {
    margin-left: 2px;
    display: inline-block;
  }
}

.terms-tag {
	display: inline-block;
	background-color: hsl(120, 45%, 85%);
	padding: 0.2rem 1.3rem;
	border-radius: 3rem;
}

.terms-tag:hover {
  color: hsl(120, 32%, 33%);
	background-color: hsl(120, 28%, 67%); /* similar to darkslategray but not so dark */
}

.terms-tag:active {
  color: white;
	background-color: hsl(120, 28%, 67%); /* similar to darkslategray but not so dark */
}
