/* :root { } */

body {
  font-size: 16px;
  line-height: 1.6;
}

blockquote {
  font-size: 1.4rem;
  font-family: Georgia, Bitstream Charter, serif;
  font-style: italic;
}

blockquote cite {
  font-size: 70%;
}

a, a:hover, a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

h1 { font-size: 1.3rem }

h2 { font-size: 1.1rem }

h3 { font-size: 1rem }

h4 { font-size: 0.8rem }

h5 {
  font-weight: 300;
  font-size: 1rem;
}

h6 {
  font-weight: 300;
  font-size: .9rem;
}

header h1 {
  font-size: 2.6rem;
}

header h2 {
  font-size: 0.9rem;

  span {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

header h3 {
  font-weight: 300;
  font-size: 0.9rem;

  a {
    white-space: nowrap;
  }

  a.about:after {
    content: " \00BB";
  }
}

.section-header {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.post-preview-title {
  font-size: 18px;
}

.post-title {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

a.paginator {
  font-weight: 600;
}

/* icons */
i {
  vertical-align: middle;
}

.section-nav {
  a {
    display: inline-block;
    margin-left: 2px;
  }
}

.content-tag {
  position: relative;

  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 15px 2px 32px;

  border-radius: 3rem;
}

.tag-counter {
  position: absolute;
  top: 3px;
  left: 4px;

  display: inline-block;
  min-width: 1.2rem;
  padding: 1px;

  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;

  border-radius: 3rem;
}

/* IMAGES */
figcaption {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}
