<style>
  html body {
    font-family: '{{ .Site.Params.font }}', sans-serif;
  }
</style>

{{ range .Site.Params.css }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<!-- google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}">

<!-- REMOVED: SCSS to PostCSS to minify to fingerprint pipeline -->

<!-- pure PostCSS pipeline -->
{{ $css := resources.Get "css/static.css" }}
{{ $stylesheet_url := $css | resources.PostCSS | minify | fingerprint }}

<link rel="stylesheet" href="{{ $stylesheet_url.Permalink }}"
  integrity="{{ $stylesheet_url.Data.Integrity }}" media="screen">
