<!--
  # Responsive Image shortcode

  sizes available in current gulp-responsive build:
  - 600
  - 800
  - 1000
  - 1200
  - 1600

-->

<div class="picture">
  {{ if .Get "caption"}}
  <figure>
  {{ end }}
  <img srcset="{{ .Get "src" }}-600.{{  .Get "type" }}  600w,
               {{ .Get "src" }}-800.{{  .Get "type" }}  800w,
               {{ .Get "src" }}-1000.{{ .Get "type" }} 1000w,
               {{ .Get "src" }}-1200.{{ .Get "type" }} 1200w,
               {{ .Get "src" }}-1600.{{ .Get "type" }} 1600w"

     sizes="(min-width: 1600px) 60vw,
            (max-width: 1600px) and (min-width: 1200px) 70vw,
            100vw"

     src="{{ .Get "src" }}-600.{{ .Get "type" }}"

      alt="{{ .Get "alt" }}"{{ if .Get "caption"}} class="lazy"{{ end }}
      >
  {{ if .Get "caption"}}
    <figcaption>{{ .Get "caption" }}</figcaption>
  </figure>
  {{ end }}
</div>
